@font-face {
	font-family: MicrosoftYaHei;
	src: url('font/MicrosoftYaHei.ttf').format('opentype');
}

body {
	margin: 0;
	border: 0;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	background-color: #2F2F2F;
}

a {
	text-decoration: none;
}

/* 这里是上方导航栏的代码。*/
div.header {
	margin: 0;
	background-color: #1F1F1F;
	position: fixed;
	width: 100%;
	padding: 10px 0px 30px 0px;
	height: 50px;
	z-index: 10;
}

div.header a {
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
	text-decoration: none;
	display: inline block;
}

div.header a.knowledge {
	color: rgb(123, 232, 211);
}

div.header a.first {
	margin-left: 10%;
}

div.header a.first:hover {
	color: rgb(161, 229, 182);
}

div.header a.knowledge:hover {
	color: rgb(123, 232, 211);
}

div.header a.activity:hover {
	color: rgb(80, 183, 224);
}

div.header a.about:hover {
	color: rgb(38, 131, 227);
}

div.header a.bilibili:hover {
	color: rgb(111, 76, 222);
}

a#button1 {
	background-color: white;
	color: black;
	display: inline block;
	padding: 10px 20px 10px 20px;
	border-radius: 30px;
	float: right;
	margin-right: 10%;
}

a#button1:hover {
	background-color: #4F4F4F;
	color: white;
}
/* 上方导航栏的代码到此结束。*/

/* 下面是知识科普的代码，包含章节目录，正文和小节目录三列。*/
.container {
	overflow: hidden;
}

.left {
	color: white;
	letter-spacing: 1px;
	overflow: scroll;
	width: 20%;
	height: 100vh;
	float: left;
	margin-top: 100px;
	font-size: 20px;
	padding-left: 2%;
	padding-right: 4%;
	line-height: 30px;
	z-index: 2;
}

.left p.catalog {
	font-size: 22px;
	font-weight: bold;
	padding-left: 40px;
	color: rgb(134, 239, 172);
}

.left a {
	text-decoration: none;
	font-weight: normal;
	color: white;
}

.left li {
	color: rgb(187, 249, 217);
}

.left a:hover {
	font-weight: bolder;
}

.left ul.second {
	list-style-type: square;
}

.right {
	border-left: 2px solid #4f4f4f;
	margin-bottom: 30px;
	letter-spacing: 1px;
	top: 100px;
	font-size: 18px;
	margin-top: 100px;
	float: left;
	overflow: scroll;
	padding: 0px 3% 0px 4%;
	width: 65%;
	height: 100vh;
	color: white;
	z-index: 1;
}

.img {
	padding: 30px 30px 20px 30px;
}

.img img#logo {
	height: 100px;
}

.img img#title {
	height: 70px;
}
/* 知识科普的代码到此结束。*/

.bottom {
	color: white;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: center;
	margin: 0 0 0 0;
	padding: 20px 0px 20px 0px;
	background: #3f3f3f;
	float: bottom;
	overflow-x: hidden;
	width: 100%;
	z-index: 3;
}

.bottom span#former {
	margin-right: 100px;
}

.bottom span#latter {
	margin-left: 100px;
}

.bottom a {
	color: white;
}

.bottom a:hover {
	font-weight: 900;
	color: #8F8F8F;
}

/* 下面是尾页的代码。*/
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30pt;
    clear: both;
    color: #F0F2F5;
    text-align: left;
    height: 300pt;
	float: bottom;
}

.footer ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.footer li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
}
.footer #tail-introduction {
    float: left;
    margin-left: 140pt;
    width: 25%;
}
.footer #tail-introduction p {
    font-size: 10pt;
}
.footer h4 {
    font-size: 14pt;
}
.footer #tail1 {
    float: right;
    margin-right: 5%;
}
.footer #tail2 {
    float: right;
    margin-right: 5%;
}
.footer #tail3 {
    float: right;
    margin-right: 5%;
}
.footer #tail4 {
    float: right;
    margin-right: 10%;
    margin-bottom: 200pt;
}
.footer #hr2 {
    margin-bottom: 60pt;
}

.copyright {
    text-align: center;
    bottom: 10px;
}
